.anim {
    display: flex;
    position: absolute;
    width: max-content;
    will-change: transform;
    animation: marquee 25s linear infinite;
  }
  
  .anim:hover {
    animation-play-state: paused;
  }
  
  /* Continuous horizental line from right-to-left */
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  